body{
    font-family: 'New X Digital tfb', sans-serif;
    font-size: 10px;
}

#machine{
    display: flex;
    background-color: rgb(51, 51, 51);
    min-width: 300px;
    max-width: 600px;
    min-height: 550px;
    margin: auto;
    border-radius: 10px;
}
.in-machine{
    /* margin: 25px;    */
    border-radius: 10px;

}



.left-side{
    margin: 15px;
    background-color: rgb(175, 255, 255);
    width: 70%;
}

#products{
    padding: 20px;
}
.product-line{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.rigth-side{
    margin: 15px 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 30%;
}
#screen-buttons{
    margin-top: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}



/* #screen{
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    border-radius: 10px;
    width: 150px;
    height: 100px;
    margin-bottom: 10px;
        @media (max-width: 640px) {
        width: 110px;
        height: 100px;
        font-size: small;
        justify-content: center;
        align-items: center;
        
      }
} */

#screen-input{
    display:  flex;
    resize: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: whitesmoke;
    border-radius: 10px;
    width: 150px;
    height: 120px;
    margin-bottom: 10px;
    
    font-family: 'New X Digital tfb', sans-serif;
    @media (max-width: 640px) {
        width: 110px;
        height: 140px;
        font-size: small;
        justify-content: center;
        align-items: center;
        
      }

}

#buttons{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
}

.myButton{
    
    width: 30px;
    height: 25px;
    border-radius: 5px;
    margin: 1px 0 1px 0;
    /* @media (max-width: 640px) {
        width: 30px;
        height: 30px;
        font-size: small;
        justify-content: center;
        align-items: center;
        
      } */
}
#money{
    margin-top: 5px;
}
#money-buttons-check{
    display: flex;
    justify-content: center;
}
